name: "Quality"

on:
  push:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  quality:
    name: Run quality checks on PHP v${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        php: ['8.3', '8.4', '8.5']

    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: pcov

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Validate composer.json
        run: composer validate --strict

      - name: Install Dependencies
        run: composer install -o -q --no-ansi --no-interaction --no-progress --prefer-dist

      - name: Run parallel-lint
        run: vendor/bin/parallel-lint --exclude .git --exclude vendor .

      - name: Check coding style
        run: vendor/bin/phpcs

      - name: Static code analysis
        run: vendor/bin/psalm --show-info=true --long-progress

      - name: Run tests
        run: vendor/bin/phpunit --coverage-clover build/logs/clover.xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report-${{ matrix.php }}
          path: build/logs/clover.xml
